*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* fonts */
    /*--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
	--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --ff-secondary: 'Source Code Pro', monospace;
    
    /* colors */
    --clr-light: #ffffff;
    --clr-dark: #007cba;
    --clr-darker: #005596;
    --clr-accent: #E7A614;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--ff-primary);
	background-color: var(--clr-light);
}

main {
	display: flex; 
	flex-direction: column;
	margin: auto;
	align-items: center; 
	color: var(--clr-dark);
	padding-bottom: 40px;
}

h1 {
	margin-bottom: 0px;
}

h2 {
	margin-bottom: 0px;
}

p {
	color: #fad488;
	font-size: large;
	font-weight: 600;
}

@media screen and (max-device-width: 640px) {
	main {
		display: flex; 
		flex-direction: column;
		margin: auto;
		align-items: center;
		padding-bottom: 40px;
		max-width: none;
	}
}

